<h1>New Post</h1>
<%= form_for @post do |f|%>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= render partial: "mdhelp" %>
  <%= f.text_area :content, placeholder: "Text" %>
  <p><%= f.submit "Create Post", class: "btn blue left" %></p>
<% end %>
