<% if @messages.any? %>
  <%= link_to "Delete all messages", destroy_all_messages_path, method: "post", class: "btn blue right", data: {confirm: "Delete all of your messages forever?"} %>
<% end %>
<%= link_to "Create new message", new_message_path, class: "btn blue right" %>
<br>
<h2>
  <% if Message.where(user_target_id: current_user.id).any? %>
    Your private messages:
  <% else %>
    You have no private messages.
  <% end %>
</h2>

<div id="forum_groups">
  <% @messages.each do |message| %>
    <div class="item-group with-avatar">
      <div class="header">
        <%
          if current_user == message.user_sender
            user = message.user_target
          else
            user = message.user_sender
          end
        %>
        <%= link_to(user.avatar(64), user, title: user.ign) %>
        <%= render partial: "users/username", locals: { user: user } %>
        <span style="font-size:16px">
          &nbsp;
          <b><%= link_to message.subject, message %></b>
          &nbsp; | &nbsp;
        </span>
        <%= ago message.created_at %>
        <div class="right">
          <%= link_to "Delete message", message, :method => "delete", class: "editlink", data: {confirm: "Delete this message forever?"} %>
        </div>
        <div class="clear-right"></div>
      </div>
      <div class="items">
        <div class="item">
          <%= truncate message.text, length: 20, omission: "..." %>
          <div class="item-info items bold">
            <% if rpl = message.replies.last %>
              <%= rpl.author.name %>
              <%
                position = message.replies.count - 1
                page     = position / Kaminari.config.default_per_page + 1
              %>
              <%= link_to "replied", message_path(message, page: page) + "#reply-#{rpl.id}" %>
              <%= ago rpl.created_at %>.
            <% else %>
              No replies yet.
            <% end %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @messages %>
</div>
