<h1>Example Text</h1>
<%= form_for @message do |f| %>
  </table>
    <tr>
      <td>
        <%= render partial: "md_editor_user", locals: {name: "message[user_target]", content: @message.user_target} %>
      </td>
    </tr>
    <br>
    <tr>
      <td>
          <%= render partial: "md_editor", locals: {name: "message[text]", content: @message.text} %>
      </td>
    </tr>
  </table>
  <%= f.hidden_field :user_sender, value: current_user %>
  <br>
<p><%= f.submit "Send Message", class: "btn blue left" %></p>
<% end %>
