<h1>Log in</h1>
<%= form_tag login_path do |f| %>
  <div id="form_labels">
    <%= label_tag :email %>
    <%= label_tag :password %>
  </div>

  <div id="form_inputs">
    <%= text_field_tag :email %>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag "Log in" %>
<% end %>