<% title "Log In" %>

<h1>Log In</h1>
<p>Not a member? <%= link_to "Join us", signup_path %>!</p>
<%= form_tag login_path do |f| %>
  <table>
    <tr>
      <td><%= label_tag :email %></td>
      <td><%= text_field_tag :email, params[:email], placeholder: "email@example.com", required: true %></td>
    </tr>
    <tr>
      <td><%= label_tag :password %></td>
      <td><%= password_field_tag :password, nil, placeholder: "secret", required: true %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to "Lost your password?", lost_password_users_path %></td>
    </tr>
  </table>
  <p><%= submit_tag "Log in", class: "btn blue" %></p>
<% end %>
