<% title "Edit Forum: #{@forum.name}" %>

<%= link_to "(Edit) #{@forum.group.name}", edit_forumgroup_path(@forum.group) %> →  <%= @forum.name %>
<h1>Edit Forum</h1>
<% role_selection = Role.all_from_to(:normal, :admin).collect{|p|[p.name, p.id]} %>
<%= form_for @forum do |f|%>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, placeholder: "Name" %></td>
    </tr>
    <tr>
      <td><%= f.label :position %></td>
      <td><%= f.number_field :position, placeholder: "Position" %></td>
    </tr>
    <tr>
      <td><%= f.label :role_read_id, "Min. read role" %></td>
      <td><%= f.select :role_read_id, role_selection, include_blank: "None" %></td>
    </tr>
    <tr>
      <td><%= f.label :role_write_id, "Min. write role" %></td>
      <td><%= f.select :role_write_id, role_selection, include_blank: false %></td>
    </tr>
  </table>
  <p><%= f.submit "Update forum", class: "btn blue left" %></p>
<% end %>
<p><%= button_to "Delete forum", @forum, method: "delete", data: {confirm: "Delete forum forever?\nThreads won't be accessible!"}, class: "btn red right" %></p>
<div class="clear"></div>