<div id="forum_groups">
  <% @groups.each do |group| %>
    <div class="item-group" id="group-<%= group.id %>">
      <div class="header">
        <%= group.name %>
        <%= link_to "edit", edit_forumgroup_path(group), class: "editlink" if admin? %>
        <div class="clear-right"></div>
      </div>

      <div class="items bold">
        <% group.forums.sort_by{ |f| f.position || 0 }.each do |f| %>
          <% if f.can_read?(current_user) %>
            <%= link_to f.name, f, id: "forum-#{f.id}", class: "item" %>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<% if admin? %>
  <%= link_to "New group", new_forumgroup_path, class: "btn blue" %>
<% elsif mod? %>
  <%= link_to "New group", "#", class: "btn blue", disabled: true %>
<% end %>