<% title "Forums" %>

<div id="forum_groups">
  <% @groups.each do |group| %>
    <div class="item-group" id="group-<%= group.id %>">
      <div class="header">
        <%= group.name %>
        <%= link_to "edit", edit_forumgroup_path(group), class: "editlink" if admin? %>
        <div class="clear-right"></div>
      </div>

      <div class="items bold">
        <% group.forums.sort_by{ |f| f.position || 0 }.each do |f| %>
          <% if f.can_read?(current_user) %>
            <div class="item">
              <%= link_to f.name, f, id: "forum-#{f.id}"%>
              <div class="item-info">
                <% if trd = f.threads.last %>
                  <%= trd.author.name %> <%= link_to "posted", forumthread_path(trd) %> <time title="<%= trd.created_at.strftime("%e %b %Y, %H:%M") %>" datetime="<%= trd.created_at.to_datetime.rfc3339 %>"><%= trd.created_at.strftime("%e %b %Y, %H:%M") %></time>.
                <% else %>
                  No posts yet.
                <% end %>
              </div>
              <div class="clear"></div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>
</div>

<% if admin? %>
  <%= link_to "New group", new_forumgroup_path, class: "btn blue" %>
<% elsif mod? %>
  <%= link_to "New group", "#", class: "btn blue", disabled: true %>
<% end %>