<%= link_to @forum.group, forumgroup_path(@forum.group) %> → <%= link_to @forum %>
<h1><%= @forum.name %></h1>
<%= link_to "New thread", new_forum_forumthread_path(@forum), class: "btn blue" %>
<div id="forum_threads">
  <% @threads.each do |thread| %>
    <div class="forum_thread" id="thread-<%= thread.id %>">
      <%= link_to thread.title, forum_forumthread_path(@forum, thread) %>
    </div>
  <% end %>
</div>