<%= link_to @forum.group, forumgroup_path(@forum.group) %> → <%= link_to @forum %>

<h1><%= @forum %></h1>
<% if @forum.can_write?(current_user) %>
  <p><%= link_to "New thread", new_forumthread_path(forum: @forum), class: "btn blue" %></p>
<% end %>
<div id="forum_groups">
  <% @threads.each do |thread| %>
    <div class="item-group with-avatar" id="thread-<%= thread.id %>">
      <div class="header">
        <%= link_to(image_tag(thread.author.avatar_url(64), class: "avatar"), thread.author, title: thread.author.ign) %>
        <%= render partial: "users/username", locals: { user: thread.author } %> <time><%= link_to thread.created_at.strftime("%e. %b %Y, %H:%M"), thread %></time>
        <span class="comment-counter">
          <%= link_to pluralize(thread.replies.count, "Reply"), thread %>
        </span>
        <div class="clear-right"></div>
      </div>
      <div class="items bold">
        <%= link_to thread.title, forumthread_path(thread), class: "item #{"locked" if thread.locked}#{"sticky" if thread.sticky}" %>
      </div>
    </div>
  <% end %>
</div>