<%= link_to "Forums", forums_path %> → <%= link_to @forum.group, @forum.group %> → <%= link_to @forum %>
<h1><%= @forum.name %></h1>
<%= link_to "New thread", new_forumthread_path, class: "btn blue" %>
<div id="forum_threads">
  <% @threads.each do |thread| %>
    <div class="group" id="thread-<%= thread.id %>">
      <div class="header">
        <%= thread.name %>
      </div>
    </div>
  <% end %>
</div>