<div class="item-group with-avatar comment" id="comment-<%= c.id %>">
  <div class="header <%= "op" if c.author.is?(c.blogpost.author) %>">
    <%= link_to(c.author.avatar(64), c.author, title: c.author.ign) %>
    <%= render partial: "users/username", locals: { user: c.author } %>
    <%= link_to "#comment-#{c.id}" do %>
      <%= ago c.created_at %>
    <% end %>

    <%= link_to "edit", edit_blogpost_comment_path(c.blogpost, c), class: "editlink" if (mod? || c.author.is?(current_user)) %>
    <div class="clear-right"></div>
  </div>
  <div class="items">
    <div class="item content">
      <%= render_mini_md(c.content).html_safe %>
    </div>
  </div>
</div>