<div class="item-group with-avatar comment" id="comment-<%= c.id %>">
  <%= link_to(image_tag(c.author.avatar_url(64), class: "avatar"), c.author, title: c.author.ign) %>
  <div class="header <%= "op" if c.author.is?(c.blogpost.author) %>">
    <%= render partial: "users/username", locals: { user: c.author } %> <time><%= link_to c.created_at.strftime("%e. %b %Y, %H:%m"), [c.blogpost, c] %></time>
    <%= link_to "edit", edit_blogpost_comment_path(c.blogpost, c), class: "editlink" if (mod? || c.author.is?(current_user)) %>
  </div>
  <div class="items">
    <div class="item content">
      <%= h(c.content).gsub(/(\s*?[\r\n]){3,}/, "\n\n").gsub("\n", "<br>").html_safe %>
    </div>
  </div>
</div>