<div style="font-family: 'Oswald','Calibri','Arial','DejaVu Sans','Open Sans','Lucida Sans','Lucida Grande','Lucida Sans Unicode',sans-serif; background: #F2F2F2">
  <div style="color: #3f3f3f; width: 600px; max-width: 100%; padding: 2em 0; margin: auto;">
    Hi <%= @user.name %>!

    <p><%= link_to @message.user_sender.name, user_url(@message.user_sender), style: "text-decoration: none; color: #4096EE;" %> has sent you a new message!</p>

    <blockquote>
      <%= render_md(@message.text).html_safe %>
    </blockquote>

    <p><%= link_to "Click here", messages_url %> to view your current messages.</p>

    <p>If you have any questions or problems, just ask one of our <%= link_to "Staff", users_url(role: "staff"), style: "text-decoration: none; color: #4096EE;" %> in-game or on the forums!</p>
    <p>Your Redstoner team</p>

  </div>
  <div style="background: #444; width: 100%; color: #fff; margin: auto; text-align: center; display: inline-block;">
    <div style="margin: 2em;">
      <p><i>Too much spam? Change <%= link_to "your notification settings", edit_notifications_user_url(@user), style: "text-decoration: none; color: #4096EE;" %>!</i></p>
      <p>You can contact us via:
        <%= link_to "Website", root_url, style: "text-decoration: none; color: #4096EE;" %> |
        <%= link_to "Twitter", "https://twitter.com/RedstonerServer", style: "text-decoration: none; color: #4096EE;" %> |
        <%= link_to "Google+", "https://google.com/+Redstoner", style: "text-decoration: none; color: #4096EE;" %> |
        <%= link_to "Email", "mailto:redstonerserver+website@gmail.com", style: "text-decoration: none; color: #4096EE;" %>
      </p>
    </div>
  </div>
</div>
