<h1>'<%= @user.name %>' has registered on redstoner.</h1>
<table style="border: 1px solid black; border-collapse:collapse;">
  <tr>
    <td style="border:1px solid black;">IGN</td>
    <td style="border:1px solid black;"><%= @user.ign %></td>
  </tr>
  <tr>
    <td style="border:1px solid black;">UUID</td>
    <td style="border:1px solid black;"><%= @user.uuid %></td>
  </tr>
  <tr>
    <td style="border:1px solid black;">email</td>
    <td style="border:1px solid black;"><%= @user.email %></td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Time</td>
    <td style="border:1px solid black;"><%= @user.created_at.strftime("%e. %b %Y, %H:%M") %></td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Role</td>
    <td style="border:1px solid black;"><%= @user.role %></td>
  </tr>
  <tr>
    <td style="border:1px solid black;">IP</td>
    <td style="border:1px solid black;"><%= @user.last_ip %></td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Idiot</td>
    <% if @mcpw %>
      <td style="border:3px solid red; color: red; font-weight: bold">YES! (used his mc pass) &gt;_&lt;</td>
    <% else %>
      <td style="border:1px solid black;">no</td>
    <% end %>
  </tr>
</table>
<hr>
<% debug = @user.attributes.dup %>
<% debug.delete("password_digest") %>
<p><small style="font-size: 0.7em; color: #aaa;">Debug info:<br><%= debug %></small>