<div style="font-family: 'Oswald','Calibri','Arial','DejaVu Sans','Open Sans','Lucida Sans','Lucida Grande','Lucida Sans Unicode',sans-serif; background: #F2F2F2">
  <div style="color: rgb(63, 63, 63); width: 600px; max-width: 100%; padding: 2em; margin: auto">
    Hi <%= @user.name %>!

    <p>Thank you for registering on Redstoner.com!</p>
    <p>To use your account, you need to <%= link_to "confirm", confirm_user_path(@user, code: @user.email_token, only_path: false) %> your email address.</p>

    <div>

      <% if @mcpw %>
        <div>
          <p>
            <font color="red">
              <b>NEVER USE THE SAME PASSWORD TWICE!</b>
            </font>
          </p>
          <p>
            <font color="red">
              You used your minecraft password on our website. <b>Do not do that</b>. It's just stupid.
            </font>
          </p>
        </div>
      <% end %>


      <p>Please click this link to confirm your registration:
      </p>
      <div width="100%" style="background-color: #ddd; padding: 1em; margin: 0; text-align: center;">
        <%= link_to "confirm registration", confirm_user_path(@user, code: @user.email_token, only_path: false), style: "text-decoration: none; color: #f2f2f2; padding: 0.5em 2em; background-color: #4096EE; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; display: inline-block; text-transform: uppercase;" %>
      </div>
      <p></p>

      <p>If you have any questions or problems, just ask one of our <%= link_to "Staff", users_path(role: "staff", only_path: false) %> in-game.</p>
      <p>Your Redstoner team</p>

    </div>
  </div>
  <div style="background: none repeat scroll 0% 0% rgb(68, 68, 68); width: 100%; padding: 2em; color: rgb(255, 255, 255); margin:auto; text-align: center;">
    <p><i>If you did not sign up on redstoner.com you can safely ignore this email!</i>
    </p>
    <p>You can contact us via: <%= link_to "Website", "root_path" %> | <%= link_to "Twitter", "https://twitter.com/RedstonerServer" %> | <%= link_to "Google+", "https://google.com/+Redstoner" %> | <%= link_to "Email", "mailto:redstonerserver+website@gmail.com" %></p>
  </div>
</div>