 <h1>Change password</h1>

<%= simple_form_for @user do |f| %>
  <div id="form_labels">

  </div>
  <div id="form_inputs">
    <%= f.input :current_password, :label => false %>
    <%= f.input :email, :label => false %>
    <%= f.input :password, :label => false %>
    <%= f.input :password_confirmation, :label => false %>
  </div>
<% end %>