<% title "Change Password" %>

<h1>Change password</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :current_password %>
  <%= f.text_field :email %>
  <%= f.text_field :password %>
  <%= f.text_field :password_confirmation %>
<% end %>