<% title "Edit Website Settings: #{@user.name}" %>

<%= link_to @user.name, @user %> → Edit Login credentials
<h1>Edit Website Settings</h1>


<%= form_for @user do |f| %>
  <table>
    <tbody>
      <tr>
        <td>Show exact UTC times for posts and comments</td>
        <td>
          <%= f.check_box :utc_time %>
        </td>
      </tr>
      <tr>
        <td>Header moves with scrolling</td>
        <td>
          <%= f.check_box :header_scroll %>
        </td>
      </tr>
    </tbody>
  </table>
  <p><%= f.submit "Save changes", class: "btn blue left" %></p>
  <div class="clear"></div>
<% end %>
