<% title "Edit User: #{@user.name}" %>

<%
  def can_edit?
    (@user.is?(current_user) && confirmed?) || (mod? && current_user.role >= @user.role)
  end
%>

<%= link_to @user.name, @user %> → Edit
<h1>Edit profile</h1>

<%= form_for @user do |f| %>
  <table>
    <tbody>
      <tr>
        <td>Display name</td>
        <td>
          <%= f.text_field :name, disabled: !can_edit? %>
        </td>
      </tr>
      <% if mod? %>
        <tr>
          <td>Role</td>
          <td>
            <% if current_user.role >= @user.role %>
              <%= f.select :role, Role.all_to(current_user.role) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Badge</td>
          <td>
            <% if current_user.role >= Role.get(:mod) %>
              <%= f.select :badge, Badge.all_from(:none) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Confirmed email address</td>
          <td>
            <%= f.select :confirmed, [["No", false], ["Yes", true]], {}, { disabled: !can_edit? } %>
          </td>
        </tr>
        <tr>
          <td>Donator</td>
          <td>
            <%= f.select :donor, [["No", false], ["Yes", true]], {}, { disabled: !can_edit? } %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>Skype username</td>
        <td>
          <%= f.text_field :skype, placeholder: "Skype username", disabled: !can_edit? %>
        </td>
      </tr>
      <tr>
        <td>Show Skype to</td>
        <td>
          <%= f.select :skype_public, [["Staff only", false], ["All users", true]], {}, { disabled: !can_edit? } %>
        </td>
      </tr>
      <tr>
        <td>YouTube Channel ID</td>
        <td>
          <%= f.text_field :youtube, placeholder: "YouTube Channel ID", disabled: !can_edit? %>
        </td>
      </tr>
      <tr>
        <td>Twitter username</td>
        <td>
          <%= f.text_field :twitter, placeholder: "Twitter username", disabled: !(@user.is?(current_user) && confirmed? || (mod? && current_user.role >= @user.role)) %>
        </td>
      </tr>
      <tr>
        <td>About you</td>
        <td>
          <%= render partial: "md_editor", locals: {name: "user[about]", content: @user.about, options: {disabled: !can_edit?, placeholder: "Tell us something about you ..."}} %>
        </td>
      </tr>
    </tbody>
  </table>

<p><%= f.submit "Save profile", class: "btn blue left", disabled: (!@user.confirmed? && @user.is?(current_user)) %></p>
<p>
  <%= link_to "Edit login details", edit_login_user_path(@user), class: "btn blue right" %>
  <%= link_to "Notification settings", edit_notifications_user_path(@user), class: "btn blue right" %>
</p>
<div class="clear"></div>

<% if !@user.confirmed? %>
  <% if @user.is?(current_user) %>
      <span class='red-alert'>Please confirm your email address first!</span>
    <% else %>
      <span class='red-alert'>This user has not confirmed his email!</span>
    <% end %>
  <% end %>
<% end %>
