<% filter = params[:role] %>
<% if filter %>
  <h1>All '<%= filter %>' users</h1>
  <%= link_to "show all", users_path %>
<% else %>
  <h1> All users </h1>
<% end %>
<div id="userlist">
  <% @users.each do |u| %>
    <div class="list-user">
      <%= link_to u, class: "avatar_url" do %>
        <%= image_tag(avatar_url(u.id, 64), :class => "avatar", :alt => "avatar") %>
      <% end %>
      <div class="user-info">
        <span class="user-name"><%= link_user u %></span>
        <span class="user-ign"><%= u.ign %></span>
        <span class="user-role"><%= link_to u.role, users_path(:role => u.role.name) %></span>
      </div>
    </div>
  <% end %>
</div>