<% if params[:role] %>
  <h1><%= title "All '#{params[:role]}' Users" %></h1>
  <%= link_to "show all", users_path %>
<% else %>
  <h1><%= title "All Users" %></h1>
<% end %>
<div id="userlist">
  <% @users.each do |u| %>
    <div class="list-user">
      <%= link_to(u.avatar(64), u) %>
      <div class="detail">
        <%= render partial: "users/username", locals: { user: u } %><br>
        <i><%= u.ign %></i>
      </div>
    </div>
  <% end %>
</div>