<h1>
  <% if params[:role] && !params[:badge]%>
    <%= title "All '#{params[:role]}' users" %>
  <% elsif params[:badge] && !params[:role] %>
    <%= title "All '#{params[:badge]}' users" %>
  <% elsif params[:role] && params[:badge] %>
    <%= title "All '#{params[:role]}' and '#{params[:badge]}' users" %>
  <% else %>
    <%= title "All Users" %>
  <% end %>
  (<%= @count %>)
</h1>
<%= link_to "show all", users_path if params[:role] || params[:badge] %>

<div id="userlist">
  <% @users.each do |u| %>
    <div class="list-user">
      <%= link_to(u.avatar(64), u) %>
      <div class="detail">
        <%= render partial: "users/username", locals: { user: u } %><br>
        <i><%= u.ign %></i>
      </div>
    </div>
  <% end %>
  <%= paginate @users %>
</div>
