<% title "Sign up" %>

<h1>Sign up</h1>

<p>
  Please note that email address and token are case-sensitive!<br>
  When you entered an invalid token, it is removed for the used email address to give hackers no chance. This info page has some details about <a href="/info/15">tokens and website registration</a>.<br>
  Contact us ingame when you have problems singing up!
</p>

<%= form_for @user do |f| %>
  <table>
    <tr>
      <td><%= f.label :ign, "Minecraft name" %></td>
      <td><%= f.text_field :ign, placeholder: "Steve", pattern: "[a-zA-Z0-9_]{2,16}", required: true, title: "Your IGN" %></td>
    </tr>
    <tr>
      <td><%= f.label :email, "Email" %></td>
      <td><%= f.email_field :email, placeholder: "steve@example.com", required: true, pattern: ".+@.+", title: "enter valid email adress", "x-moz-errormessage" => "enter valid email adress" %></td>
    </tr>
    <tr>
      <td><%= f.label :registration_token, "Token" %></td>
      <td>
        <%= text_field_tag :registration_token, nil, placeholder: "abcdef", required: true, pattern: "[a-z]{6}", title: "6 character token", "x-moz-errormessage" => "6 character token" %><br>
        To get your <i>token</i>, join the Minecraft server (redstoner.com) and <b>use the <mark>/token</mark> command</b>.
      </td>
    </tr>
    <tr>
      <td><%= f.label :password, "Password" %></td>
      <td>
        <%= f.password_field :password, placeholder: "secret", required: true, pattern: ".{8,}", title: "minimum 8 characters", "x-moz-errormessage" => "minimum 8 characters" %><br>
        Choose a <b>strong</b> password which you are <b>not using anywhere else</b>!
      </td>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation, "Confirm" %></td>
      <td><%= f.password_field :password_confirmation, placeholder: "secret", required: true, pattern: ".{8,}", title: "minimum 8 characters", "x-moz-errormessage" => "minimum 8 characters" %></td>
    </tr>
  </table>
  <%= f.submit "Sign up", class: "btn blue" %>
<% end %>