<div id="user-info">
  <h1><%= @user.name %></h1>

  <% if @user == current_user || mod? %>
    <div class="profile-action" ><%= link_to "edit profile", edit_user_path(@user), :class => "btn-blue" %></div>
    <div class="profile-action" >
      <% if session[:original_user_id] %>
        <%= link_to "revert", unbecome_users_path, :class => "btn-blue" %>
      <% else %>
        <%= link_to "become this user", become_user_path(@user), :class => "btn-blue" %>
      <% end %>
    </div>
  <% end %>

  <% if @user.rank.to_i == rank_to_int("banned") %>
    <span class="user-banned">This user is banned!</span>
  <% end %>
  <% if @user.rank.to_i == rank_to_int("unconfirmed") %>
    <span class="user-unconfirmed">This user hasn't confirmed his email yet!</span>
  <% end %>


<%= image_tag avatar_url(@user.id, 128), :class => "user-avatar avatar", :alt => "avatar" %>
  <table>
    <tbody>
          <tr>
            <td>IGN</td>
            <td><%= @user.ign %></td>
          </tr>
          <tr>
            <td>Rank</td>
            <td><%= link_to int_to_rank(@user.rank), users_path(:rank => int_to_rank(@user.rank))  %></td>
          </tr>
          <% if current_user && !@user.skype.blank? && (@user.skype_public || current_user == @user || mod?) %>
          <tr>
            <td>Skype</td>
            <td><a href="skype:<%= @user.skype %>?chat" target="_blank"><%= @user.skype %></a></td>
          </tr>
          <% end %>
          <% if !@user.youtube.blank? && @user.youtube_channelname.blank? %>
          <tr>
            <td>YouTube</td>
            <td><%= link_to @user.youtube_channelname, "https://youtube.com/user/#{CGI::escape(@user.youtube)}", :target => "_blank" %></td>
          </tr>
          <% end %>
          <% if !@user.twitter.blank? %>
          <tr>
            <td>Twitter</td>
            <td><%= link_to @user.twitter, "https://twitter.com/#{CGI::escape(@user.twitter)}", :target => "_blank" %></td>
          </tr>
          <% end %>
          <tr>
            <td>Joined</td>
            <td><%= @user.created_at.strftime("%e. %b %Y") %></td>
          </tr>
          <% if mod? || current_user == @user %>
          <tr>
            <td>Last IP</td>
            <td><%= @user.last_ip %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= mail_to @user.email, @user.email, :subject => "Redstoner" %></td>
          </tr>
          <tr>
            <td>Last login</td>
            <td><%= @user.last_login.strftime("%e. %b %Y, %H:%M") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <%= @user.about.blank? ? "<span class=\"no-about\">nothing</span>".html_safe : h(@user.about).gsub("\n", "<br>").html_safe %>
</div>