<div class="item-group thread-reply with-avatar" id="reply-<%= reply.id %>">
  <div class="header">
    <%= link_to(reply.author.avatar(64), reply.author, title: reply.author.ign) %>
    <%= render partial: "users/username", locals: { user: reply.author } %>
    <%= link_to "#reply-#{reply.id}" do %>
      <%= ago reply.created_at %>
    <% end %>

    <%= link_to "edit", edit_forumthread_threadreply_path(reply.thread, reply), class: "editlink" if (mod? && current_user.role >= reply.author.role) || reply.author.is?(current_user) %>
    <div class="clear-right"></div>
  </div>
  <div class="items">
    <div class="item content">
      <%= render_md(reply.content).html_safe %>
    </div>
  </div>
</div>