<h1>Edit thread</h1>
<%= link_to @thread.forum.group, forumgroup_path(@thread.forum.group) %> → <%= link_to @thread.forum, @thread.forum %> →  New thread
<%= form_for @thread do |f|%>
  <table>
    <% if mod? %>
      <tr>
        <td><%= f.label :sticky %></td>
        <td><%= f.check_box :sticky %></td>
      </tr>
      <tr>
        <td><%= f.label :locked %></td>
        <td><%= f.check_box :locked %></td>
      </tr>
    <% end %>
  </table>
  <div id="form_inputs">
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <%= f.text_area :content, placeholder: "Text" %>
  <p><%= f.submit "Update thread", class: "btn blue" %></p>
<% end %>
<%= button_to "Delete thread", @thread, :method => "delete", data: {confirm: "Delete thread & comments forever?"}, class: "btn red right" %>