<%= link_to @forum.group, forumgroup_path(@forum.group) %> → <%= link_to @forum, @forum %> →  New thread
<h1>New thread</h1>
<%= simple_form_for @thread do |f|%>
  <div id="form_labels">
    <%= f.label :title %>
    <%= f.label :content, "Text" %>
  </div>
  <div id="form_inputs">
    <%= f.input :title, placeholder: "Title" %>
    <%= f.input :content, placeholder: "Text" %>
  </div>
  <% if mod? %>
    <%= f.input :sticky %> <%= f.label :sticky %>
    <%= f.input :locked %> <%= f.label :locked %>
  <% end %>
  <%= f.submit "Create forum", class: "btn blue" %><br>
<% end %>