<% title "Thread Search" %>
<h1>Thread Search</h1>
<h3>Leave a field blank to ignore that search aspect.</h3>
<% label = Label.where(name: params[:label]).first %>
<table>
  <tbody>
<%= form_tag({controller: "forumthreads", action: "index"}, method: :get, enforce_utf8: false) do %>
  <%
    forums = []
    Forum.select{|f| f.can_read?(current_user)}.sort_by{ |f| f.forumgroup && f.forumgroup.position || 0 }.each do |f|
      forums << ["#{f.forumgroup.name} → #{f.name}", f.id] if f.forumgroup
    end
  %>
  <% label_list = Label.pluck(:name).prepend("No Label") %>
  <tr>
    <td>Forum</td>
    <td><%= select_tag "id", options_for_select(forums, params[:id]), include_blank: "Search All Threads" %></td>
  </tr>
  <tr>
    <td>Label</td>
    <td>
      <%= select_tag "label", options_for_select(label_list, params[:label]), include_blank: "Label" %>
    </td>
  </tr>
  <tr>
    <td>Title</td>
    <td>
      <%= text_field_tag "title", params[:title], placeholder: "Search Titles" %>
    </td>
  </tr>
  <tr>
    <td>Content</td>
    <td>
      <%= text_field_tag "content", params[:content], placeholder: "Search Contents" %>
    </td>
  <tr>
    <td>Author</td>
    <td>
      <%= render partial: "md_editor_user", locals: {name: "author", content: params[:author]} %>
    </td>
  </tr>
    <td>Replies</td>
    <td>
      <%= text_field_tag "reply", params[:reply], placeholder: "Search Replies" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= submit_tag "Go", class: "btn blue", style: "width:50px", name: nil %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
