<%= link_to @thread.forum.group, forumgroup_path(@thread.forum.group) %> → <%= link_to @thread.forum, @thread.forum %> → <%= link_to truncate(@thread.title, length: 60, omission: " …") %>
<h1><%= title @thread.title %></h1>

<div class="item-group thread with-avatar" id="thread-<%= @thread.id %>">
  <div class="header">
    <%= link_to(@thread.author.avatar(64), @thread.author, title: @thread.author.ign) %>
    <%= render partial: "users/username", locals: { user: @thread.author } %> <%= link_to p do %><time title="<%= @thread.created_at.strftime("%e %b %Y, %H:%M") %>" datetime="<%= @thread.created_at.to_datetime.rfc3339 %>"><%= @thread.created_at.strftime("%e %b %Y, %H:%M") %></time><% end %>
    <%= link_to "edit", edit_forumthread_path( @thread), class: "editlink" if (@thread.author.is?(current_user) || mod?) %>
    <div class="clear-right"></div>
  </div>
  <div class="items">
    <% if @thread.edited? %>
      <div class="item edited">
        Last edited <time title="<%= @thread.updated_at.strftime("%e %b %Y, %H:%M") %>" datetime="<%= @thread.updated_at.to_datetime.rfc3339 %>"><%= @thread.updated_at.strftime("%e %b %Y, %H:%M") %></time> by <%= link_to @thread.editor.name, @thread.editor %>.
      </div>
    <% end %>
    <div class="item content">
      <%= render_md(@thread.content).html_safe %>
    </div>
  </div>
</div>
<div id="replies">
  <h3><%= "#{pluralize(@thread.replies.length, 'reply')}." %></h3>
  <% @replies.each do |reply| %>
    <%= render partial: "threadreplies/reply", locals: {reply: reply} %>
  <% end %>
  <%= paginate @replies %>
  <% if @thread.can_write?(current_user) %>
    <%= render partial: "threadreplies/new", locals: {reply: Threadreply.new(forumthread: @thread)} %>
  <% else %>
    You cannot reply here.
  <% end %>
</div>