<h1>Manage Forums</h1>
<div class="item-group">
  <div class="header">
    Forums
  </div>
  <div class="items bold">
    <% @group.forums.each do |forum| %>
      <%= link_to forum.name, edit_forum_path(forum), class: "item" %>
    <% end %>
    <div class="item"><%= link_to "Add Forum", new_forum_path(forumgroup: @group), class: "btn blue" %></div>
  </div>
</div>
<hr>
<h1>Edit Forum Group</h1>
<% role_selection = Role.all_from_to(:normal, :admin).collect{|p|[p.name, p.id]} %>
<%= form_for @group do |f|%>
  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, placeholder: "Name" %></td>
    </tr>
    <tr>
      <td><%= f.label :position %></td>
      <td><%= f.number_field :position, placeholder: "Position" %></td>
    </tr>
    <tr>
      <td><%= f.label :role_read_id, "Min. read role" %></td>
      <td><%= f.select :role_read_id, role_selection, include_blank: "None" %></td>
    </tr>
    <tr>
      <td><%= f.label :role_write_id, "Min. write role" %></td>
      <td><%= f.select :role_write_id, role_selection, include_blank: false %></td>
    </tr>
  </table>
  <p><%= f.submit "Update group", class: "btn blue left" %></p>
<% end %>
<p><%= button_to "Delete group", @post, :method => "delete", data: {confirm: "Delete group?\nForums + Threads will not be accessible!"}, class: "btn red right" %></p>
<div class="clear"></div>