<% title "Edit Info: #{@info.title}" %>

<h1>Edit Info</h1>
<%= form_for @info do |f|%>
  <%= f.text_field :title%>
  <%= render partial: "md_editor", locals: {name: "info[content]", content: @info.content} %>
  <p><%= f.submit "Update Info", class: "btn blue left" %></p>
<% end %>
<p><%= button_to "Delete Info", @info, method: "delete", data: {confirm: "Are you sure you want to delete this info page?"}, class: "btn red right" %></p>
<div class="clear"></div>
