<%= link_to "Info", info_index_path %> → <%= @info.title %>
<% if mod? %>
  <%= link_to "Edit Info", edit_info_path(@info), class: "btn blue right" %>
<% end %>
<div class="clear"></div>
<h1 class="info-title"><%= title @info.title %></h1>
<small>Last edited <%= ago @info.updated_at %>.</small>

<div class="post">
  <%= render_trusted_md(@info.content).html_safe %>
</div>


<div class="info-suggestions center">
  <%= link_to "« #{@prev}", @prev %>
  <%= link_to "#{@next} »", @next %>
</div>