<% users = User.seen(2.minutes) %>
<div id="footer">
  <div id="online-users">
    <p>Users seen within the last two minutes: <%= users.size %></p>
    <% users.each do |u| %>
      <%= render partial: "users/username", locals: { user: u } %>
    <% end %>
  </div>
  <div class="note">
    <%= link_to "DMCA", dmca_path %> |
    <%= link_to "https://github.com/RedstonerServer", title: "Redstoner on GitHub" do %>
      GitHub <%=image_tag("github.png") %>
    <% end %> |
    <%= link_to "https://twitter.com/RedstonerServer", title: "Redstoner on Twitter" do %>
      Twitter <%= image_tag("twitter.png") %>
    <% end %>
    <% if current_user %>
      | <%= link_to "/slack/?" + {mail: current_user.try(:email)}.to_param do %>
        Join us on <img src="/slack/badge.svg" alt="Slack">
      <% end %>
    <% end %>
  </div>
</div>
