<div id="head">
  <%= link_to(root_path) do %>
  <div id="logo"></div>
  <% end %>
  <div id="userinfo" <%= "class=\"logged-out\"".html_safe if !current_user %>>
    <% if !current_user.nil? %>
      <span id="userinfo-box">
        <%= link_to current_user.name.truncate(14), current_user %><br/>
        <%= link_to "Logout", logout_path %>
      </span>
      <%= link_to image_tag(avatar_url(current_user.id, 32), :class => "avatar"), current_user %>
    <% else %>
      <%= link_to "Log in", login_path, :action => "new" %><br/>
      <%= link_to "Register", register_path %>
    <% end %>
  </div>
  <div id="menu">
    <ul>
      <li><%= link_to "HOME", root_path, :class => "arrow" %></li>
      <li><%= link_to "FORUM", nil, :class => "arrow" %></li>
      <li><%= link_to "INFO", nil, :class => "arrow" %></li>
      <li><%= link_to "DONATE", nil, :class => "arrow" %></li>
    </ul>
  </div>
</div>
