<div id="head">
  <div id="logo"><%= image_tag "logo.png" %></div>
  <div id="userinfo" <%= "class=\"logged-out\"".html_safe if !current_user %>>
    <% if !current_user.nil? %>
      <span id="userinfo-box">
        <%= link_to current_user.name.truncate(14), current_user %><br/>
        <%= link_to "Logout", logout_path %>
      </span>
      <%= link_to image_tag(avatar_url(current_user.id, 32), :class => "avatar"), current_user %>
    <% else %>
      <%= link_to "Log in", login_path, :action => "new" %> | <%= link_to "Sign up", signup_path %>
    <% end %>
  </div>
  <div class="clear"></div>
  <div id="menu">
    <ul>
      <li><%= link_to image_tag('icons/home.png'), root_path %></li>
      <li>Info</li>
      <%= link_to forums_path do %>
      <li>Forums</li>
      <% end %>
      <li>Donate</li>
      <li>
        <%= simple_form_for "asdf", method: "get", action: users_path do |f| %>
          <%= f.input :rank %>
        <% end %>
      </li>
    </ul>
    <div class="clear"></div>
  </div>
</div>