<!DOCTYPE html>
<html>
<head>
  <title>Redstoner</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= javascript_include_tag "application" %>
  <link type="application/atom+xml" rel="alternate" href="<%= blogposts_path(:atom) %>">
</head>
<body>
  <div id="mobile-info">We don't have a mobile style yet. It might look shitty.<br>Tip: Hold your device in landscape mode.</div>
  <%= render partial: "/layouts/head" %>
  <div id="main-content">
    <%= "<div class='flash alert'>#{alert}</div>".html_safe if alert %>
    <%= "<div class='flash notice'>#{notice}</div>".html_safe if notice %>
    <%= yield %>
  </div>
  <%= render partial: "/layouts/footer" %>
</body>
</html>