<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:site_title).present? ? "#{yield(:site_title)} – " : "" %>Redstoner</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1">
  <meta name="description" content="Redstoner is a creative minecraft server made for redstoners">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/jomo/ago.js/v0.0.1/ago.min.js", crossorigin: :anonymous, integrity: "sha256-xw0JUUdbuZQCVO+QScoxrlEsD4nZGCjMRh9PP8GLhcY=" %>
  <%= javascript_include_tag "application" %>
  <link type="application/atom+xml" rel="alternate" href="<%= blogposts_path(:atom) %>">
  <%= yield(:site_headers) %>
</head>
<body>
  <%= render partial: "/layouts/head" %>
  <div id="main-content" class="<%= yield(:main_class) %>">
    <% if alert %>
      <div class='flash alert'><%= alert %></div>
    <% end %>
    <% if notice %>
      <div class='flash notice'><%= notice %></div>
    <% end %>
    <%= yield %>
  </div>
  <%= render partial: "/layouts/footer" %>
</body>
</html>