<!DOCTYPE html>
<html>
<head>
  <title>Redstoner</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div id="mobile-info">Sorry, we don't have a mobile style yet. It's all ugly for now.</div>
  <%= render "/layouts/head" %>
  <div id="main-content">
    <%= "<div id='alert' class='flash'>#{alert}</div>".html_safe if alert %>
    <%= "<div id='notice' class='flash'>#{notice}</div>".html_safe if notice %>
    <%= yield %>
  </div>
</body>
</html>