<!DOCTYPE html>
<html>
<head>
  <title>Redstoner</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<%= render "/layouts/head" %>
<%= "<div id='flash' class='alert'>#{alert}</div>".html_safe if alert %>
<%= "<div id='flash' class='notice'>#{notice}</div>".html_safe if notice %>
<div id="main-content">
<%= yield %>
</div>

</body>
</html>