<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:site_title).present? ? "#{yield(:site_title)} – " : "" %>Redstoner</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1">
  <meta name="description" content="Redstoner is a creative minecraft server made for redstoners">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= javascript_include_tag "application" %>
  <link type="application/atom+xml" rel="alternate" href="<%= blogposts_path(:atom) %>">
  <%= yield(:site_headers) %>
</head>
<body>
  <%= render partial: "/layouts/head" %>
  <div id="main-content" class="<%= yield(:main_class) %>">
    <%= "<div class='flash alert'>#{alert}</div>".html_safe if alert %>
    <%= "<div class='flash notice'>#{notice}</div>".html_safe if notice %>
    <%= yield %>
  </div>
  <%= render partial: "/layouts/footer" %>
</body>
</html>